{% extends "base.html" %}
{% load static %}

{% block content %}
<section id="contact" data-stellar-background-ratio="0.5">
     <div class="container">
          <div class="row">
               <div class="col-md-offset-1 col-md-10 col-sm-12">
                     <div class="section-title">
                         {% for obj in objects %}
                            <h4>{{ obj }}</h4>
                         {% endfor %}
                     </div>
               </div>
          </div>
     </div>
</section>
{% endblock %}
