<footer id="footer" data-stellar-background-ratio="0.5">
      <div class="container">
           <div class="row">
                <div class="copyright-text col-md-12 col-sm-12">
                     <div class="col-md-6 col-sm-6">
                          <p>Copyright &copy; 2021 -by <a href="mailto: moha.gamal@nu.edu.eg">© Mohamed Gamal</a></p>
                     </div>
                     <div class="col-md-6 col-sm-6">
                          <ul class="social-icon">
                               <li><a href="#" class="fa fa-facebook-square"></a></li>
                               <li><a href="#" class="fa fa-twitter"></a></li>
                               <li><a href="#" class="fa fa-instagram"></a></li>
                          </ul>
                     </div>
                </div>
           </div>
      </div>
 </footer>